<a href="https://colab.research.google.com/github/NonokaShimada/class_report.2/blob/main/Class_report_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Execise 2 
name = [ 'Moe Umezaki' 'Nonoka Shimada' 'Millymarion Tani']

In [ ]:
from pandas.io.formats.style import Subset
print('Exesice 1.2')
import pandas as pd
d1 = {'c1' : [20, 21, 22, 25]}
d2 = {'c2' : [20, 21, 22, 25, 27, 28]}
df1= pd.DataFrame(data=d1)
df2= pd.DataFrame(data=d2)
print('c1 is subset of c2:')
print(df1)
print(df2)
print(type(df1))
df1["c1"].to_list()
set("df1") <= set("df2")

Exesice 1.2
c1 is subset of c2:
   c1
0  20
1  21
2  22
3  25
   c2
0  20
1  21
2  22
3  25
4  27
5  28
<class 'pandas.core.frame.DataFrame'>

False

In [ ]:
import pandas as pd
d1 = {1, 2, 3}
d2 = {1, 2, 3, 4, 5}
print('ex.2 sample')
print(d1.issubset(d2))
print()
set(d1) <= set(d2)

ex.2 sample
True

True

In [ ]:
print('Exesice 3')
import pandas as pd;
d1 = {'code':['a', 'b', 'c', 'd'],
      'fruits':['apple', 'orange', 'lemon', 'melon']}
d2 = {'code':['a', 'b', 'c', 'd'],
      'color': ['red', 'orange', 'yellow', 'green'] }
df1 = pd.DataFrame(data=d1)
df2 = pd.DataFrame(data=d2)
df3 = pd.merge(df1, df2, on='code', how='inner')
print(df1)
print(df2)
print(df3)

In [ ]:
import pandas as pd
import math 
print('exesice 4')
d1 = {'c1':[0, 5, 4, 8, 8 ],
      'c2':[1, 3, 5, 7, 9 ]}
df1 = pd.DataFrame(data=d1)
print(df1)
d2 = {'c3': [c1 + c2] }
df2 = pd.DataFrame(data=d2)
print(df2)

exesice 4
   c1  c2
0   0   1
1   5   3
2   4   5
3   8   7
4   8   9
                                                  c3
0  0    0.0
1    4.0
2    8.0
3    NaN
4    NaN
d...

In [ ]:
from tables.table import Column
import pandas as pd
print('Exesice 4')
c1 = pd.Series([0, 5, 4, 8, 8])
c2 = pd.Series([1, 3,  5, 7, 9])
c3 = c1 + c2
df = pd.DataFrame(data=c3)
print(df)

Exesice 4
    0
0   1
1   8
2   9
3  15
4  17

In [ ]:
import pandas as pd
print('exesice 4')
c1 = [1, 2, 3, 4, 5]
c2 = [5, 4, 3, 2, 1]
df1 = pd.DataFrame(data=c1)
df2 = pd.DataFrame(data=c2)
d3 = df2 + df1
df3 = pd.DataFrame(data=d3)
df3_1 = pd.DataFrame(list(zip(c1,c2,d3)))
print(df3_1)

exesice 4
   0  1  2
0  1  5  0

In [ ]:
import pandas as pd
c1 = ([1, 2, 3, 4, 5])
c2 = ([5, 4, 3, 2, 1])
c3 = [c1] + [c2]
print(c3)
df = pd.DataFrame(list(zip(c1, c2, c3)))
print(df)

[[1, 2, 3, 4, 5], [5, 4, 3, 2, 1]]
   0  1                2
0  1  5  [1, 2, 3, 4, 5]
1  2  4  [5, 4, 3, 2, 1]

In [ ]:
import pandas as pd
import requests 


url_1 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1983.csv"
url_2 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1984.csv"
url_3 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1985.csv" 
url_4 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1986.csv"
url_5 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1987.csv"
url_6 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1988.csv"
url_7 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1989.csv" 
url_8 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1990.csv"
url_9 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1991.csv"
url_10 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1992.csv"
url_11 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1993.csv"
url_12 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1994.csv"
url_13 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1995.csv"
url_14 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1996.csv"
url_15 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1997.csv"
url_16 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1998.csv"
url_17 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_1999.csv"
url_18 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2000.csv"
url_19 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2001.csv"
url_20 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2002.csv"
url_21 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2003.csv"
url_22 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2004.csv"
url_23 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2005.csv"
url_24 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2006.csv"
url_25 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2007.csv"
url_26 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2008.csv"
url_27 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2009.csv"
url_28 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2010.csv"
url_29 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2011.csv"
url_30 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2012.csv"
url_31 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2013.csv"
url_32 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2014.csv"
url_33 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2015.csv"
url_34 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2016.csv"
url_35 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2017.csv"
url_36 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2018.csv"
url_37 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2019.csv"
url_37 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2020.csv"
url_38 = "https://raw.githubusercontent.com/NonokaShimada/class_report.2/main/valoriorari_puntasalute_2021.csv"

df1 = pd.read_csv(url_1)
df2 = pd.read_csv(url_2)
df3 = pd.read_csv(url_3)
df3 = pd.read_csv(url_3)
df4 = pd.read_csv(url_4)
df5 = pd.read_csv(url_5)
df6 = pd.read_csv(url_6)
df7 = pd.read_csv(url_7)
df8 = pd.read_csv(url_8)
df9 = pd.read_csv(url_9)
df10 = pd.read_csv(url_10)
df11 = pd.read_csv(url_11)
df12 = pd.read_csv(url_12)
df13 = pd.read_csv(url_13)
df14 = pd.read_csv(url_14)
df15 = pd.read_csv(url_15)
df16 = pd.read_csv(url_16)
df17 = pd.read_csv(url_17)
df18 = pd.read_csv(url_18)
df19 = pd.read_csv(url_19)
df20 = pd.read_csv(url_20)
df21 = pd.read_csv(url_21)
df22 = pd.read_csv(url_22)
df23 = pd.read_csv(url_23)
df24 = pd.read_csv(url_24)
df25 = pd.read_csv(url_25)
df26 = pd.read_csv(url_26)
df27 = pd.read_csv(url_27)
df28 = pd.read_csv(url_28)
df29 = pd.read_csv(url_29)
df30 = pd.read_csv(url_30)
df31 = pd.read_csv(url_31)
df32 = pd.read_csv(url_32)
df33 = pd.read_csv(url_33)
df34 = pd.read_csv(url_34)
df35 = pd.read_csv(url_35)
df36 = pd.read_csv(url_36)
df37 = pd.read_csv(url_37)
df38 = pd.read_csv(url_38)

for df_a = of.DataFrame
print(df_a)
df.index =  ['month','day','hour']
df.colums = ['1983','1990','1991','1992',]
print(type("df_a"))

SyntaxError: ignored

In [2]:
import pandas as pd 
from pathlib import Path
p = Path('./csv_file')
file_name = '**/*.csv'
csv_files = p.glob(file_name)
def main():
  for file in csv_files:
    df1 = pd.read_csv(file, name=column_name)
    print(file)
    print(df1)

In [3]:
from google.colab import drive
import os
from pathlib import Path
drive.mount('/content/drive')
%cd /content/drive/My Drive/Data_Management/
p = Path('/content/drive')
file_name = '**/*.csv'
csv_file = p.glob(file_name)
column_name = ('date;hour;level')
def main():
  for file in 'Data_Management':
    df1 = pd.read_csv(file)
    print(file)
    print(df1)

Mounted at /content/drive
/content/drive/My Drive/Data_Management